.header-container {
  height: 48px;
  width: 100%;
  background-color: brown;
}

.navbar {
  background-color: gray;
  height: 48px;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 2rem;
  /* justify-content: center; */
  align-items: center;
}
